@import '/src/styles/settings.scss';

.dots {
  display: flex;
  flex-direction: column;

  &__board {
    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dots {
    width: 50vh;
    height: 50vh;
    padding: calc($base-size * -10);
    position: relative;
  }

  &__dot {
    border-radius: 50%;
    border: 3px solid $color-light;
    opacity: .7;
    position: absolute;
    transition: $transition;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: $base-size;
  }


  &__correct {
    background-color: $color-success;
    color: $color-light;
  }
}
