@import '../../../styles/settings.scss';

.auth {
  display: flex;
  justify-content: end;
  border: 1px solid blue;

  &__input {
    background-color: $color-light;
    color: $color-indigo;
    text-align: center;
    line-height: 2;
    border-radius: 4px;
    border: none;
  }

  &__info {
    padding: $base-size;
    display: flex;
    gap: $base-size;
    align-items: center;
    width: max-content;

    border: 1px solid palevioletred;
  }

  &__form {
    padding: 0 $base-size;

    display: grid;
    grid-template-rows: auto auto;

    * {
      border: 1px dotted lightgreen;
    }
  }

  &__inputs {
    display: flex;
    gap: $base-size;
  }

  &__signup {
    display: flex;
    gap: 2px;
    color: $color-blue;
    font-size: $base-size;
  }

  &__btn {
    border: none;
    background-color: transparent;
    color: $color-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: $base-size;
    transition: $transition;
  }


  &__error {
    font-size: $base-size;
  }

  &__icon {
    background-color: $color-light;
    border-radius: 50%;
    color: $color-indigo;
    height: calc($base-size * 3);
    width: calc($base-size * 3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    color: $color-blue;
    font-weight: 700;
    font-size: $base-size;
  }


  &__btn:hover, &__icon:hover {
    color: $color-indigo;
    cursor: pointer;
  }
}

@media (max-width: 576px) {
  .auth {
    border-color: fuchsia;

    &__form{
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      gap: 5px;
      }
    
    &__inputs {
      flex-direction: column;
    }

    &__input {
      grid-column: span 3;
    }
  }
}

@media (max-width: 780px) and (orientation: landscape) {
  .auth {
    border: 1px solid green;
    //justify-content: center;
  }
}
