@import '/src/styles/settings.scss';

.button {
  margin: $base-size;
  //width: calc($base-size * 5);
  //height: calc($base-size * 5);
  border: 3px solid $dark-accent;
  //filter: drop-shadow(2px 2px 1px $dark-shades);
  //border-radius: 50%;
  border-radius: $radius;
  padding: calc($base-size * 2);
  background-color: transparent;
  color: $dark-accent;
  transition: $transition;
  font-size: calc($base-size * 3);
  max-height: calc($base-size * 5);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $dark-shades;
  }
}

.button:hover {
  cursor: pointer
}

.button:disabled {
  background-color: $dark-accent;
}