@import '/src/styles/settings.scss';

.spinner {
  width: max-content;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;

  &__text {
    position: absolute;
    left: 50%;
    font-size: $font-content;
    text-shadow: $text-shadow;
    letter-spacing: 2px;
  }

  &__dot {
    margin: 4px;
    width: calc($base-size * 3);
    height: calc($base-size * 3);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(251, 251, 251, 0.521) inset;
  }

  &__dot1 {
    background-color: $color-warning;
    animation: spinnerDot 10s ease-in-out infinite;
  }

  &__dot2 {
    background-color: $color-orange;
    animation: spinnerDot 6s ease-in-out infinite;
  }

  &__dot3 {
    background-color: $color-yellow;
    animation: spinnerDot 7s ease-in-out infinite;
  }

  &__dot4 {
    background-color: $color-success;
    animation: spinnerDot 8s ease-in-out infinite;
  }

  &__dot5 {
    background-color: $color-blue;
    animation: spinnerDot 11s ease-in-out infinite;
  }

  &__dot6 {
    background-color: $color-indigo;
    animation: spinnerDot 13s ease-in-out infinite;
  }

  &__dot7 {
    background-color: $color-purple;
    animation: spinnerDot 9s ease-in-out infinite;
  }
}