@import '/src/styles/settings.scss';

:root {
  --player-color: #FFC312;
}

.current {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: calc($base-size * 2) $base-size;
  font-size: calc($base-size * 2.2);

  &__xpBar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}
