@import '/src/styles/settings.scss';

:root {
  --player-xp: 0;
}

.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  &__game {
    width: 70vw;
    margin: $base-size;
    padding: $base-size;
    background-color: $color-light;
    color: $color-dark;
    border: calc($base-size * 0.5) solid;
    border-image: linear-gradient(45deg, $color-blue, $color-success) 1;
  }

  &__game h1, h2, h3 {
    background-image: linear-gradient(45deg, $color-blue, $color-success);
    font-size: calc($base-size * 2);
    color: $color-light;
    padding: $base-size;
    letter-spacing: 2px;
  }

  &__buttons {
    display: flex;
    gap: $base-size;
  }



}
