@import '/src/styles/settings.scss';

.form {
  display: grid;
  grid-template-columns: 100%;
  border: 2px solid $color-light;
  border-radius: $radius;
  margin: $base-size;
  background-color: rgba(21, 169, 238, 0.5);

  // * {
  //   border: .5px solid black;
  // }


  &__field, &__characters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    gap: $base-size;
    margin: $base-size;
    padding: $base-size;
    border: 1px solid $color-light;
    border-radius: $radius;
    color: $color-light;
  }

  &__legend {
    padding: 0 $base-size;
  }

  &__input {
    background-color: transparent;
    border: none;
    color: $color-light;
    text-align: center;
    height: calc($base-size * 5);
  }

  &__info {
    margin: 0 auto;
    grid-column: span 2;
    color: $color-warning;
    font-size: calc($base-size * 1);
    text-align: center;
    display: none;
  }

  &__input:invalid[focused='true'] ~ &__info {
    display: block;
  }

  &__colorInput {
    appearance: none;
    width: 100px;
    height: 100px;
  }

  &__colorInput::-webkit-color-swatch {
    border: 2px solid $color-light;
    border-radius: 50%;
  }

  &__character {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    transition: $transition;
    background-color: rgb(232, 232, 232);
    border-radius: $radius;
  }

  &__character:hover {
    transform: scale(1.1);
    border-radius: $radius;
    box-shadow: 0 0 calc($base-size * 4) rgba(246, 246, 246, 0.9) inset;
    cursor: pointer;
  }

  &__character > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: $transition;
  }

  &__choosen {
    border-radius: $radius;
    //box-shadow: 0 0 calc($base-size * 4) rgba(255, 255, 255, 0.9) inset;
    border: 5px solid $color-success;
    background-color: $color-lime;

    img {
      transform: scale(1.1);
    }
  }

  &__checkbox {
    display: none;
  }

  &__submit {
    justify-self: center;
  }
}

@media (max-width: 780px) and (orientation: landscape) {

  .form {
    grid-template-columns: 30% auto 20%;
    grid-template-rows: auto auto;
    height: 90%;
    overflow: scroll;

    &__field {
      grid-template-columns: 100%;
    }

    &__name {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      //height: 30%;
    }

    &__color {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      //height: 30%;
    }

    &__colorInput {
      appearance: none;
      width: 50px;
      height: 50px;
    }

    &__legend {
      font-size: $base-size;
    }

    &__characters {
      grid-row: span 2;
      height: 60vh;
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
      overflow: scroll;

    }

    &__character {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      transition: $transition;
    }
  
    &__submit {
      grid-column: 3 / 4;
      grid-row: span 2;
      align-self: center;
      //justify-self: center;
    }
  }
}