@import '/src/styles/settings.scss';

:root {
  --player-xp: 0;
}

.prog {

  &__container {
    background-image: linear-gradient(white, white 20%, white 80%, lightgray);
    width: 100%;
    border-radius: $radius;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  &__bar {
    width: var(--player-xp);
    height: calc($base-size * 2);
    background-image: linear-gradient(white, $light-accent 20%, $light-accent 80%, lightgray);
  }

  &__points {
    position: absolute;
    left: 50%;
    top: 50%;
    color: $dark-shades;
    transform: translate(-50%, -50%);
    font-size: $font-content;
    font-weight: 700;
  }
}

.levelup {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    color: $dark-shades;
    padding-bottom: $base-size;
  }

  &__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 5px solid $dark-shades;
    border-radius: $radius;
    margin: $base-size;
    padding: $base-size;
    animation: badgeBg .5s linear 1 forwards;

    & img {
      visibility: hidden;
      animation: fly 1s 1s ease-in-out forwards;
    }
  }
}

@keyframes fly {
  0% {
    transform: translate(600%, -800%);
    visibility: visible;
  }
  100% {
    transform: translate(0%, 0%) scale(1.3);
    visibility: visible;
  }
}

@keyframes badgeBg {
  0% {
    background: $dark-shades;
  }
  100% {
    background: $light-accent;
    border-radius: 50%;
  }
}
