@import '/src/styles/settings.scss';

:root {
  --player-xp: 0;
}

.prog {
  background-color: $color-light;
  height: calc($base-size * 2);
  width: calc($base-size * 20);
  border-radius: $radius;
  display: flex;
  overflow: hidden;


  &__bar {
    width: var(--player-xp);
    height: calc($base-size * 2);
    background-color: $color-yellow;

  }

  &__points {
    width: 100%;
    text-align: right;
  }
}