@import '/src/styles/settings.scss';

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__name {
    border-radius: 50%;
    width: calc($base-size * 5);
    height: calc($base-size * 5);
    background-color: $dark-accent;
    color: $light-shades;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}