@import '/src/styles/settings.scss';

.logo {
  height: 11vw;
  width: 11vw;
  position: relative;

  &__bubble:first-of-type {
    position: absolute;
    top: 0;
    left: 10%;
  }

  &__bubble:nth-of-type(2) {
    position: absolute;
    left: 50%;
    bottom: 35%;
  }

  &__bubble:last-of-type {
    position: absolute;
    left: 20%;
    bottom: 5%;
  }

  &__bubble {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    background-color: $dark-accent;
    color: $dark-shades;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    font-weight: 400;
    overflow: hidden;
  }

  &__syllable {
    letter-spacing: -2px;

    &::first-letter {
      color: $light-accent;
      font-size: 130%;
      font-weight: 600;
      text-shadow: 1px 1px $dark-shades;
    }
  }
}

@keyframes bubbles {
  0% {
    transform: scale(1.1) translate(30%, 45%);
    z-index: 3;
  }
  100% {
    transform: scale(.9) translate( 0 0);
    z-index: auto;
  }
}