@import '/src/styles/settings.scss';
.easy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid blue;

  &__board {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition: all .2s ease-in-out;
    border: 1px solid green;
  }
  
  &__first, &__task, &__answer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $base-size;
    text-decoration: none;
    color: $color-dark;
    font-size: calc($base-size * 3);
    width: calc($base-size * 9);
    height: calc($base-size * 6);
    text-align: center;
    margin: $base-size;
    background-color: $color-light;
    border: none;
    border-radius: $radius;
    transition: $transition;
  }

  &__task:hover {
    background-color: $color-yellow;
    cursor: pointer;
  }

  &__first {
    border: 3px solid $color-light;
    background-color: $color-orange;
  }

  &__answer {
    width: calc($base-size * 11);
    background-color: $color-blue;
    border: 3px solid $color-light;
  }

  &__last {
    border: 3px solid $color-light;
    border-radius: $radius;
    padding: $base-size;
    width: 100%;
    display: grid;
    justify-content: center;
    place-items: center;
    gap: $base-size;
    grid-template-columns: repeat(auto-fit, minmax(calc($base-size * 8), 1fr));
  }
}
