@import '/src/styles/settings.scss';

.button {
  width: calc($base-size * 4);
  height: calc($base-size * 4);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px outset $color-light;
  border-radius: 50%;
  background-color: $color-light;
  color: $color-blue;
  transition: $transition;
  font-size: calc($base-size * 2);
}

.button:hover {
  cursor: pointer;
  color: $color-success;
  border: 2px outset $color-success;
  box-shadow: 0 0 calc($base-size * 4) rgba(154, 255, 21, 0.9);

}

