@import '/src/styles/settings.scss';

.option {
  padding: $base-size;
  color: $color-dark;
  font-size: calc($base-size * 3);
  width: calc($base-size * 6);
  height: calc($base-size * 6);
  text-align: center;
  background-color: $color-light;
  border: 3px solid $color-blue;
  border-radius: $radius;
  transition: $transition;

  &__correct {
    background-color: $color-success;
  }
}

.option:hover {
  cursor: pointer;
  border-color: $color-yellow;
  transform: scale(1.03);
}

.option:action {
  transform: scale(.97);
}


