@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  font-size: ($base-size * 2);
  color: $color-light;
  letter-spacing: .5px;
  background-image: url('../../public/images/background.png'), radial-gradient(farthest-corner at 100% 0%, $color-light 10%, $color-blue 100%);
}

a {
  text-decoration: none;
  color: $color-light;
}

@import "./typography.scss";
