@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
  //border: 1px solid;
}

body {
  margin: 0;
  padding: 0;
  background: $background-gradient;
  font-family: $font-text;
  font-size: ($base-size * 2);
  color: $color-light;
  letter-spacing: .5px;
}

a {
  text-decoration: none;
  color: $color-light;
}

@import "./typography.scss";
