@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-text;

}

body {
  margin: 0;
  padding: 0;
  font-size: ($base-size * 2);
  color: $light-accent;
  letter-spacing: .5px;
  background: $light-shades;
}

a {
  text-decoration: none;
  color: $light-shades;
}

@import "./typography.scss";
