$light-shades: #fffadd;
$light-accent: #8ecddd;
$dark-accent: #ffcc70;
$dark-shades: #22668D;
$color-correct: #a3dd8e;
$color-incorrect: #ff7970;

$font-text: 'PT Sans', sans-serif;

$font-title: 26px;
$font-heading: 24px;
$font-content: 16px;

$base-size: 12px;
$radius: 4px;
$transition: all 0.5s;
$box-shadow: 0 0 15px $light-accent;
$text-shadow: 0px 0px 6px $light-accent;
