$color-light: #fff;
$color-dark: #1f1f1f;
$color-warning: #fc7176;
$color-orange: #ffab77;
$color-yellow: #fffa6d;
$color-success: #99f76e;
$color-blue: #3ddfff;
$color-indigo: #4a8ffd;
$color-purple: #e58dfe;


$font-text: 'PT Sans', sans-serif;

$font-title: 26px;
$font-heading: 24px;
$font-content: 16px;

$base-size: 12px;
$radius: calc($base-size * 1.2);
$transition: all 0.5s;
$box-shadow: 0 0 15px rgba(112, 134, 157, 0.962);
$text-shadow: 0px 0px 6px rgb(172, 172, 172);
$background-gradient: linear-gradient(to right, $color-success, $color-blue);


@keyframes rainbowShake {
  0% {
    background-color: $color-yellow;
    transform: rotate(-4deg);
  }
  10% {
    background-color: $color-success;
    transform: rotate(4deg);
  }
  20% {
    background-color: $color-blue;
    transform: rotate(-4deg);
  }
  30% {
    background-color: $color-purple;
    transform: rotate(4deg);
  }
  40% {
    background-color: $color-blue;
    transform: rotate(-4deg);
  }
  50% {
    background-color: $color-success;
    transform: rotate(4deg);
  }
  60% {
    background-color: $color-yellow;
    transform: rotate(-4deg);
  }
  70% {
    background-color: $color-orange;
    transform: rotate(4deg);
  }
  80% {
    background-color: $color-warning;
    transform: rotate(-4deg);
  }
  90% {
    background-color: $color-orange;
    transform: rotate(4deg);
  }
  100% {
    background-color: $color-yellow;
    transform: rotate(-4deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(-360deg);
  }
}

@keyframes spinnerDot {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  5%{
    opacity: 0;
  }
  28%{
    opacity: 0;
  }
  33% {
    transform: translateX(20px);
    opacity: 1;
  }
  38% {
    opacity: 0;
  }
  61% {
    opacity: 0;
  }
  66% {
    transform: translateX(40px);
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  93% {
    opacity: 0;
  }
  98%{
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }

  // 0% {
  //   transform: translate(0, 40px);
  //   background-color: $color-warning;
  // }
  // 12% {
  //   transform: translate(30px, 30px);
  //   background-color: $color-orange;
  // }
  // 25% {
  //   transform: translate(40px, 0);
  //   background-color: $color-yellow;
  // }
  // 37% {
  //   transform: translate(30px, -30px);
  //   background-color: $color-yellow;

  // }
  // 50% {
  //   transform: translate(0, -40px);
  //   background-color: $color-success;

  // }
  // 62% {
  //   transform: translate(-30px, -30px);
  //   background-color: $color-blue;


  // }
  // 75% {
  //   transform: translate(-40px, 0px);
  //   background-color: $color-indigo;

  // }
  // 87% {
  //   transform: translate(-30px, 30px);
  //   background-color: $color-purple;

  // }
  // 100% {
  //   transform: translate(0, 40px);
  //   background-color: $color-warning;
  // }
}