@import '/src/styles/settings.scss';

.menu {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    width: calc($base-size * 3);
    height: calc($base-size * 2);
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: $color-light;
    cursor: pointer;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $base-size;
    width: 100%;
    height: 100%;
  }


  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    height: 100%;
    transition: $transition;
    padding: calc($base-size / 3) calc($base-size / 2);
    text-align: center;
  }

  &__item:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.093) inset;
  }

  // &__bar {
  //   width: 100%;
  //   height: 4px;
  //   border-radius: 5px;
  //   background-color: $color-light;
  // }
}


@media (max-width: 576px) {
  .menu {
    
    &__list {
      display: none;
    }

    .active {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }

    &__item {
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__button {
      display: flex;
    }
  }
}

@media (max-width: 780px) and (orientation: landscape) {
  .menu {
    //width: max-content;

    &__list {
      display: none;
    }

    .active {
      display: flex;
      flex-direction: column;
      justify-items: flex-start;
      gap: 0;
    }

    &__item {
      height: fit-content;
    }

    &__button {
      display: flex;
    }
  }
}
