@import '/src/styles/settings.scss';

.menu {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: calc($base-size * 2);
  margin: $base-size;

  &__item {
    padding: $base-size;
    transition: $transition;
    text-align: center;
  }

  &__item:hover {
    color: $color-yellow;
    border-bottom: 2px solid $color-yellow;
  }
}

