@import '/src/styles/settings.scss';

.modal {
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $dark-shades, $alpha: 0.5);
  background-size: 100%;
  z-index: 5;

  &__container {
    width: 70vw;
    min-height: 30vh;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $light-shades;
    background-image: url('../../../../public/images/others/wave_top_op.svg'), url('../../../../public/images/others/wave_top_light.svg');
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    overflow: scroll;
  }

  &__wave {
    width: 100%;
    min-height: 15vw;
    height: 20vh;
    background-image: url('../../../../public/images/others/wave_top.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  &__header {
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: $light-shades;
    padding: 2vw;
    position: absolute;
    z-index: 3;
  }

  &__title {
    padding: 0;
    font-size: calc(2vw + 2vh);
  }

  &__content {
    width: 100%;
    position: relative;
    z-index: 1;
    transition: all .3s;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $base-size;

      label {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          padding: 5px;
        }
      }

      textarea {
        height: 100px;
        resize: none;
      }

      input, textarea, button {
        border: none;
        padding: $base-size;
        color: $light-accent;
        width: 50%;
        outline: none;
        overflow: visible;
      }

      button {
        background-color: transparent;
        color: $dark-accent;
        font-size: calc(2vw + 2vh);
        transition: all .3s;
        
        &:hover {
          color: $dark-accent;
          cursor: pointer;
        }
      }
    }
  }

  &__button {
    border: none;

    :hover {
      cursor: pointer;
    }
  }

  &__close {
    background-color: transparent;
    color: $dark-accent;
    position: sticky;
    z-index: 3;
    right: calc($base-size * 1.3);
    top: calc($base-size * 1.3);
    font-size: 3vw;
  }

  &__accept {
    background-color: $light-accent;
    color: $light-shades;
  }
}