@import '/src/styles/settings.scss';

.modal {
  display: flex;
  //position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $dark-shades, $alpha: 0.5);
  background-size: 100%;

  &__container {
    width: 50vw;
    min-height: 30vh;
    height: fit-content;
    padding: $base-size;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $light-shades;
    background-image: url('../../../../public/images/others/wave_top.svg'), url('../../../../public/images/others/wave_top_op.svg'), url('../../../../public/images/others/wave_top_light.svg');
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    //border: 1px solid yellow;
  }

  &__header {
    //border: 1px solid white;
    color: $light-shades;
    align-self: flex-start;
    padding: 0 $base-size;
  }

  &__content {
    margin-top: calc($base-size * 3);
    width: 100%;
    transition: all 2s;


    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $base-size;

      label {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          padding: 5px;
        }
      }

      textarea {
        height: 100px;
        resize: none;
      }

      input, textarea, button {
        border: none;
        padding: $base-size;
        background-color: rgba($color: $dark-shades, $alpha: 0.5);
        color: $light-shades;
        width: 50%;
        outline: none;
        overflow: visible;
      }

      button {
        background-color: transparent;
        color: $dark-accent;
        font-size: calc($base-size * 3);


        :hover {
          color: $light-accent;
        }
      }

    }
  }

  &__button {
    border: none;
    //padding: $base-size;
    //margin-bottom: $base-size;

    :hover {
      cursor: pointer;
    }
  }

  &__close {
    background-color: transparent;
    color: $dark-accent;
    align-self: flex-end;
    position: absolute;
    right: $base-size;
    top: $base-size;
  }

  &__accept {
    background-color: $light-accent;
    color: $light-shades;
  }

  

}
