@import '/src/styles/settings.scss';

:root {
  --color: transparent;
}

.modal {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.8);

  &__info {
    width: 50vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $color-orange;
    background-color: $color-light;
  }

  &__button {
    border: none;
    padding: $base-size;
    margin-bottom: $base-size;
  }

  &__close {
    background-color: transparent;
    align-self: flex-end;
  }

  &__button:hover {
    cursor: pointer;
  }

  &__button:active {
    transform: scale(0.95);
  }

  &__text {
    padding: $base-size;
    line-height: 1.5;
  }


  &__accept {
    background-color: var(--color);
    color: $color-light;
    text-shadow: 1px 1px 2px lightgrey;

  }

}
