@import '/src/styles/settings.scss';


.list {
  border: 1px solid brown;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-items: flex-end;
  margin: calc($base-size * 2) $base-size;
  font-size: calc($base-size * 2.2);

  &__list {
    border: 1px solid seagreen;
    width: 100%;
    margin: calc($base-size * 2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: $base-size;
    align-self: center;
  }

  &__player {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: calc($base-size * 2);
    font-size: calc($base-size * 2.2);
    border: 2px outset $color-light;
    border-radius: $radius;
  }

  &__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__link:hover {
    transform: scale(1.04);
  }

  &__name {
    align-self: flex-start;
    letter-spacing: 2px;
    text-shadow: $text-shadow;
    font-size: $font-title;
    padding: calc($base-size * 2) 0 0 0;
    width: max-content;
  }
}

