@import '/src/styles/settings.scss';


.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: calc($base-size * 2) $base-size;
  font-size: calc($base-size * 2.2);

  &__player {
    flex: 4;
    display: flex;
    gap: $base-size;
    align-items: center;
  }

  &__icon {
    display: flex;
    position: relative;
    border-radius: 50%;
  }

  &__level {
    width: calc($base-size * 5);
    height: calc($base-size * 5);
    position: absolute;
    z-index: -1;
    bottom: -20%;
    right: -28%;
    border-radius: 50%;
  }

  &__levelValue {
    width: 100%;
    height: 100%;
    border: 10px solid $color-light;
    font-weight: 700;
    text-shadow: 1px 1px 2px lightgrey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    margin-left: calc($base-size * 2);
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
  }

}
