@import '/src/styles/settings.scss';

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: calc($base-size * 2) $base-size;
  font-size: calc($base-size * 2.2);
  

  &__list {
    width: 100%;
    margin: calc($base-size * 2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: $base-size;
    align-self: center;
  }

  &__player {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
    padding: $base-size;
    font-size: $font-content;
    border: 2px solid $color-light;
    border-radius: $radius;
  }


  &__link:hover {
    transform: scale(1.04);
  }

  &__name {
    letter-spacing: 2px;
    text-shadow: $text-shadow;
    padding: calc($base-size * 2) 0 0 0;
    width: max-content;
  }
}

