@import '/src/styles/settings.scss';

.button {
  border: 2px outset $color-warning;
  border-radius: 50%;
  background-color: $color-light;
  color: $color-warning;
  transition: $transition;
  font-size: calc($base-size * 2);
  padding: $base-size;
  height: calc($base-size * 4);
  width: calc($base-size * 4);
  display: flex;
  align-items: center;
  justify-content: center;

  & a {
    text-decoration: none;
    color: $color-warning;
    transition: $transition;

  }
}

.button:hover {
  cursor: pointer;

}

.button:hover a {
  color: $color-yellow;
}

.button:active {
  background-color: $color-warning;
  color: $color-light;


  & a {
    color: $color-light;
  }
}

.button:disabled {
  background-color: lightgrey;
}