@import '/src/styles/settings.scss';

.header {
  max-height: fit-content;
  padding: $base-size 0;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 3fr;
  position: sticky;
  top: 0;
  z-index: 2;
}

@media (max-width: 576px) {
  .header {
    //grid-template-columns: 100%;
  }
}

@media (max-width: 780px) and (orientation: landscape) {
  .header {
    //grid-template-columns: 100%;

  }
}

