@import '/src/styles/settings.scss';

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  grid-row: 1 / 2;
  width: 100%;
  padding: $base-size;
  background-image: url('../../../../public/images/others/wave_top.svg'), url('../../../../public/images/others/wave_top_op.svg'), url('../../../../public/images/others/wave_top_light.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 70%;
  overflow: visible;
}

