@import '/src/styles/settings.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  min-height: calc($base-size * 10);
  margin: calc($base-size * 3);
  padding: $base-size;
}