@import '/src/styles/settings.scss';

.tips {
  margin: $base-size;
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: $font-content;
  text-align: justify;
  line-height: 1.5;

  &__text {
    width: fit-content;
    padding: 0 $base-size;

    p {
      display: inline;
    }
  }

  &__iconOn, &__iconOff {
    width: calc($base-size * 4);
    height: calc($base-size * 4);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    color: $color-light;
    font-size: $font-title;
  }

  &__iconOn {
    background-image: radial-gradient( $color-orange, $color-yellow);
    box-shadow: 0px 0px 20px $color-yellow;
  }

  &__iconOff {
    background-image: radial-gradient( $color-indigo, $color-blue);
    color: $color-indigo;
    transition: $transition;
  }

  &__iconOff:hover {
    color: $color-light;
    cursor: help;
  }
}