@import '/src/styles/settings.scss';

.tips {
  margin: $base-size;
  display: grid;
  justify-items: end;
  font-size: $base-size;
  line-height: 1.5;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;


  &__text {
    width: 30vw;
    height: fit-content;
    padding: calc($base-size * 2);
    background-color: $color-light;
    overflow: hidden;
    border-radius: $radius;
    box-shadow: 0px 0px 20px $color-yellow inset;
    color: $color-indigo;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $base-size;
    
    p {
      text-align: justify;
    }
  }

  &__iconOn, &__iconOff {
    width: calc($base-size * 4);
    height: calc($base-size * 4);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    color: $color-light;
    font-size: $font-title;
    align-self: flex-end;
  }

  &__iconOn {
    background-image: radial-gradient( $color-orange, $color-yellow);
    box-shadow: 0px 0px 20px $color-yellow;
  }

  &__iconOff {
    background-image: radial-gradient( $color-indigo, $color-blue);
    color: $color-indigo;
    transition: $transition;
  }

  &__iconOff:hover {
    color: $color-light;
    cursor: help;
  }

  &__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $color-indigo;
  }
}

@media (max-width: 576px) {
  .tips {

    &__text {
      width: 90vw;
    }
  }
}

@media (max-width: 780px) and (orientation: landscape) {
  .tips {
    &__text {
      width: 50vw;
    }

  }
}