@import '/src/styles/settings.scss';


:root {
  --player-color: #FFC312;
}

.home {
  display: grid;
  grid-template-columns: auto auto;

  &__article {
    padding: $base-size;
    background-color: rgba(13, 104, 186, 0.52);
    border-radius: $radius;
  }
  
}