@import '/src/styles/settings.scss';


:root {
  --player-color: #FFC312;
}

.home {
  display: grid;
  grid-template-columns: auto auto;

  &__article{
    padding: $base-size;
    background-color: $color-indigo;
    border-radius: $radius;
  }
  
}