@import '/src/styles/settings.scss';

.footer {
  display: flex;
  justify-content: space-between;
  grid-row: 3 / 4;
  padding: $base-size 10%;
  background-image: url('../../../../public/images/others/wave_bottom.svg'), url('../../../../public/images/others/wave_bottom_op.svg'), url('../../../../public/images/others/wave_bottom_light.svg');
  background-size: 100%;
  background-color: $light-shades;
  background-repeat: no-repeat;
  background-position-y: 30%;
  font-size: calc($base-size * 1.2);

  &__menu {
    list-style-type: none;
    display: grid;
    gap: $base-size;
    grid-template-columns: repeat(3, 1fr);

    & li:hover {
      cursor: pointer;
      color: $dark-accent;
    }
  }

  &__article {
    text-align: justify;
    padding: 3vw;

    header {
      font-weight: 600;
      font-size: calc($base-size * 2);
      margin-bottom: 3vh;
    }

    h3 {
      font-weight: 600;
      margin-bottom: 1vh;
    }

    p {
      margin-bottom: 2vh;
    }
  }

  &__form {
    margin: $base-size;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: $base-size;
    font-size: calc($base-size * 1.2);
    color: $dark-shades;

    border: 1px solid;
  }

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__textarea {
    height: 100px;
    resize: none;
  }

  &__input, &__textarea, &__button {
    border: none;
    border-radius: $radius;
    padding: $base-size;
    color: $dark-shades;
    outline: none;
    overflow: visible;
  }

  &__button {
    border: none;
    background-color: $dark-accent;
    color: $light-shades;
    font-size: 120%;
    transition: $transition;

    &:hover {
      background-color: $light-accent;
      cursor: pointer;
    }
  }

  &__text {
    border: none;
    background-color: transparent;
    color: $dark-shades;
    transition: $transition;
    font-size: calc($base-size * 1.2);


    &:hover {
      color: $light-accent;
      cursor: pointer;
    }
  }

}
