@import '/src/styles/settings.scss';

.footer {
  border: 2px solid green;
  display: grid;
  grid-template-columns: 30% auto;

  
  grid-row: 3 / 4;
  //max-height: fit-content;
  width: 100%;
  padding: $base-size 0;
  background-image: url('../../../../public/images/others/wave_bottom.svg'), url('../../../../public/images/others/wave_bottom_op.svg'), url('../../../../public/images/others/wave_bottom_light.svg');
  background-size: cover;
  background-color: $light-shades;

  &__menu {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

}
