@import '/src/styles/settings.scss';

.footer {
  display: flex;
  justify-content: space-between;
  grid-row: 3 / 4;
  padding: $base-size 10%;
  background-image: url('../../../../public/images/others/wave_bottom.svg'), url('../../../../public/images/others/wave_bottom_op.svg'), url('../../../../public/images/others/wave_bottom_light.svg');
  background-size: 100%;
  background-color: $light-shades;
  background-position-y: center;
  font-size: calc($base-size * 1.2);


  &__menu {
    list-style-type: none;
    display: grid;
    gap: $base-size;
    grid-template-columns: repeat(3, 1fr);

    & li:hover {
      cursor: pointer;
      color: $dark-accent;
    }
  }

  &__article {
    text-align: justify;

    & * {
      padding: $base-size;
    }
  }

}
