@import '/src/styles/settings.scss';


.profile {
  font-size: calc($base-size * 2);
  display: grid;
  height: max-content;
  grid-template-columns: 1fr 2fr;
  background-color: transparent;
  padding: $base-size;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: $base-size;
  }

  &__tips {
    align-self: flex-end;
  }

  &__icon {
    width: fit-content;
    padding: $base-size;
  }

  &__play {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info p {
    padding: calc($base-size / 2);
  }

  &__badges {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc($base-size * 4), 1fr));
    gap: $base-size;
    padding: calc($base-size / 2);
  }

  &__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-yellow;
    border: 3px solid $color-light;
    border-radius: 50%;
    width: calc($base-size * 4);
    height: calc($base-size * 4);
  }

  &__badge:hover {
    animation: rainbowShake 6s ease-in-out infinite;
  }

  &__delete {
    width: fit-content;
    justify-self: end;
    opacity: .5;
  }

  &__delete:hover {
    opacity: 1;
  }

  &__nonFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $base-size;
    font-size: $font-content;
  }

  &__buttons {
    margin: $base-size;
    width: 50vw;
    display:flex;
    justify-content: space-evenly;
  }

  &__button {
    width: max-content;
    height: calc($base-size * 4);
    padding: $base-size;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-indigo;
    color: $color-light;
    transition: $transition;
    border: 2px outset $color-blue;
    border-radius: $radius;
  }

  &__button:hover {
    transform: scale(1.1);
  }

  &__button:active {
    background-color: $color-success;
  }

}

@media (max-width: 576px) {
  .profile {
    grid-template-columns: 100%;
    font-size: $font-content;

    &__box {
      padding: 0;
    }

    &__play {
      align-self: flex-end;
    }
  }
}

@media (max-width: 780px) and (orientation: landscape) {
  .profile {

    &__box {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
}