@import '../../../styles/settings.scss';

.auth {
  grid-column: 3 / 4;
  display: flex;
  width: fit-content;
  height: 30px;

  &__form {
    margin: 0 0 $base-size 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: $base-size;
    font-size: calc($base-size * 1.2);
    color: $dark-shades;
  }

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__textarea {
    height: 100px;
    resize: none;
  }

  &__input, &__textarea, &__button {
    border: none;
    border-radius: $radius;
    padding: $base-size;
    color: $dark-shades;
    outline: none;
    overflow: visible;
  }

  &__button {
    border: none;
    background-color: $dark-accent;
    color: $light-shades;
    font-size: 120%;
    transition: $transition;

    &:hover {
      background-color: $light-accent;
      cursor: pointer;
    }
  }

  &__text {
    border: none;
    background-color: transparent;
    color: $dark-shades;
    transition: $transition;
    font-size: calc($base-size * 1.2);


    &:hover {
      color: $light-accent;
      cursor: pointer;
    }
  }

  &__error {
    font-size: $base-size;
  }

  &__icon {
    background-color: $light-shades;
    border-radius: 50%;
    color: $dark-shades;
    height: calc($base-size * 3);
    width: calc($base-size * 3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    color: $dark-accent;
    font-weight: 700;
    font-size: $base-size;
  }

  &__btn:hover, &__icon:hover {
    color: $dark-shades;
    cursor: pointer;
  }
}

@media (max-width: 576px) {
  .auth {

    &__form{
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      gap: 5px;
      }
    
    &__inputs {
      flex-direction: column;
    }

    &__input {
      grid-column: span 3;
    }
  }
}

@media (max-width: 780px) and (orientation: landscape) {
  .auth {
    //justify-content: center;
  }
}
