@import '/src/styles/settings.scss';

.active {
  width: calc($base-size * 27.3);
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 2fr 1fr;
  justify-items: stretch;
  justify-content: center;
  align-content: center;
  gap: $base-size;

  border: 1px solid goldenrod;

  &__icon {
    width: 80%;
    justify-self: center;
    align-self: center;
  }

  &__bar {
    width: 100%;
    text-shadow: $text-shadow;
    grid-column: span 3;
  }

  &__name, &__btn {
    font-size: $font-content;
    letter-spacing: 2px;
    align-self: flex-end;
  }

  &__name {
    justify-self: end;
  }
}