@import '/src/styles/settings.scss';

.current {
  height: calc($base-size * 7.3);
  position: relative;
  margin: 0 0 calc($base-size * 2) 0;
  display: flex;
  align-self: flex-end;
  justify-self: flex-start;

  &__icon {
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 1;
    padding: 0;
  }

  &__bar {
    margin-left: calc($base-size * 3);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    font-size: $font-content;
    letter-spacing: 2px;
    text-shadow: $text-shadow;
    margin-left: calc($base-size * 4);
    padding: 0 $base-size;
  }

}

@media (max-width: 568px) {
  .current {
    height: calc($base-size * 5);
    align-self: center;
  }
}

@media (max-width: 780px) and (orientation: landscape) {
  .current {
    height: calc($base-size * 5);
  }
}
