@import '/src/styles/settings.scss';

.number {
  border: 1px solid green;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $base-size;
    border: 1px solid red;

  }
  
  &__hint {
    width: calc($base-size * 3);
    height: calc($base-size * 3);
    margin: $base-size;
    color: $color-light;
    border: none;
    border-radius: 50%;
    background-color: $color-orange;
    font-size: calc($base-size * 2);
    align-self: flex-end;
  }

  &__hint:hover {
    cursor: help;
  }
  
  

  &__help {
    padding: $base-size;
    display: grid;
    //gap: $base-size;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    justify-items: center;
    align-items: center;
    border: 1px solid pink;
  }

  &__item {
    width: calc($base-size * 4);
    height: calc($base-size * 4);
    margin: calc($base-size / 2);
    background: radial-gradient($color-indigo, $color-blue);
    border-radius: 50%;
  }

  &__container {
    display: grid;
    grid-template-columns: auto auto;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $base-size;
    color: $color-dark;
    padding: $base-size;
  }

  &__sign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc($base-size * 4);
    height: calc($base-size * 4);
    background-color: $color-light;
    margin: 0 $base-size;
  }

  &__number {
    width: calc($base-size * 4);
    height: calc($base-size * 4);
    background-color: $color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $radius;
  }
}

.correct {
  background-color: $color-success;
}

.wrong {
  background-color: $color-warning;
}

@media (max-width: 576px) {
  .number {
    &__help {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(10, auto);
    }

    &__item {
      width: calc($base-size * 2.5);
      height: calc($base-size * 2.5);
      margin: calc($base-size / 4);
    }
  }
}

@media (max-width: 780px) and (orientation: landscape) {
  .number {
    background-color: orangered;
  }
}
