@import '/src/styles/settings.scss';

.number {
  &__board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $base-size;
  }

  &__container {
    display: grid;
    grid-template-columns: auto auto;
  }

  &__box {
    display: flex;
    justify-content: center;
    gap: $base-size;
    color: $color-dark;
    padding: $base-size;
  }

  &__sign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc($base-size * 4);
    height: calc($base-size * 4);
    background-color: $color-light;
    margin: 0 $base-size;
  }


  &__number {
    width: calc($base-size * 4);
    height: calc($base-size * 4);
    background-color: $color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $radius;
  }

}

.correct {
  background-color: $color-success;
  //box-shadow: 0 0 calc($base-size * 4) rgba(255, 21, 247, 0.906);
}

.wrong {
  background-color: $color-warning;
}