@import '/src/styles/settings.scss';

.number {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    border: 1px dotted teal;
  }

  &__tips{
    position: absolute;
    left: 0;
    width: 30vw;
  }
  &__board {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $base-size;
  }
  
  &__hint {
    width: calc($base-size * 1.5);
    height: calc($base-size * 1.5);
    margin: 0 5px;
    color: $color-light;
    font-size: $base-size;
    font-weight: 700;
    border: 2px solid $color-light;
    border-radius: 50%;
    background-color: $color-orange;
    align-self: flex-end;
    transition: $transition;
  }

  &__hint:hover {
    transform: scale(1.1);
    cursor: help;
  }

  &__help {
    width: 30vw;
    height: 100%;
    padding: $base-size;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc($base-size * 4), 1fr));
    gap: $base-size;
    justify-items: center;
    background-color: aliceblue;
    border-radius: $radius;
  }

  &__item {
    width: calc($base-size * 4);
    height: calc($base-size * 4);
    background: radial-gradient($color-indigo, $color-blue);
    border-radius: 50%;
  }

  &__container {
    display: grid;
    grid-template-columns: auto auto;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $base-size;
    color: $color-dark;
    padding: $base-size;
  }

  &__sign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc($base-size * 4);
    height: calc($base-size * 4);
    background-color: $color-light;
    margin: 0 $base-size;
  }

  &__number {
    width: calc($base-size * 4);
    height: calc($base-size * 4);
    background-color: $color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $radius;
  }
}

.correct {
  background-color: $color-success;
}

.wrong {
  background-color: $color-warning;
}

@media (max-width: 576px) {
  .number {
    &__help {
      grid-template-columns: repeat(auto-fit, minmax(calc($base-size * 3), 1fr));
    }

    &__item {
      width: calc($base-size * 2.5);
      height: calc($base-size * 2.5);
      margin: calc($base-size / 4);
    }
  }
}

@media (max-width: 780px) and (orientation: landscape) {
  .number {
  }
}
