@import './styles/settings.scss';

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border: 1px solid red;


  &__container {
    padding: $base-size;
    overflow: auto;
    border: 1px solid red;
  }
}


@media (max-width: 576px) {
  .app {
    //background-color: red;
  }
}

@media (max-width: 780px) and (orientation: landscape) {
  .app {

    &__container {
      padding: 0;
    }
  }
}

@media (min-width: 768px) {
  .app {
    //background-color: orangered;
  }
}

@media (min-width: 992px) {
  .app {
    //background-color: orange;
  }
}

@media (min-width: 1200px) {
  .app {
    //background-color: yellowgreen;
  }
}

// 576px for portrait phones.
// 768px for tablets.
// 992px for laptops.
// 1200px for large devices.

