@import './styles/settings.scss';

.app {
  width: 100%;
  padding: calc($base-size * 2);
  display: grid;

  &__container {
    overflow: auto;
  }
}

@media (max-width: 576px) {
  .app {
    //background-color: red;
  }
}

@media (min-width: 768px) {
  .app {
    //background-color: orangered;
  }
}

@media (min-width: 992px) {
  .app {
    //background-color: orange;
  }
}

@media (min-width: 1200px) {
  .app {
    //background-color: yellowgreen;
  }
}

// 576px for portrait phones.
// 768px for tablets.
// 992px for laptops.
// 1200px for large devices.

