@import '/src/styles/settings.scss';

.mode {
  text-align: center;
  padding-top: calc($base-size * 2);

  
  &__title {
    font-size: $font-title;
    padding: $base-size;
    margin: $base-size 0;
  }

  &__games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: $base-size;
    margin: $base-size 0;
    padding: $base-size 0;
  }
}

