@import '/src/styles/settings.scss';

.mode {
  text-align: center;

  &__title {
    font-size: $font-title;

  }

  &__games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    gap: $base-size;
    margin: $base-size auto;
  }
}