@import '/src/styles/settings.scss';

:root {
  --colorVege: white;
  --colorFruit: white;
}

.grocery {

  display: flex;
  flex-direction: column;
  align-items: center;

  &__board {
    width: 90vw;
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(auto-fit);
    gap: $base-size;
  }

  &__shopElement {
    padding: calc($base-size * 2);
    border-radius: $radius;
    transition: $transition;
    color: $color-success;
    background-color: $color-light;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: $base-size;
    right: $base-size;
    font-size: $font-title;
    background-color: transparent;
  }

  &__counter {
    width: calc($base-size * 1.6);
    height: calc($base-size * 1.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -5px;
    right: -5px;
    color: $color-success;
    background-color: $color-light;
    font-size: $base-size;
    font-weight: 700;
    letter-spacing: -1px;
    border: 2px solid $color-success;
    border-radius: 50%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $base-size;
  }

  &__color {
    width: calc($base-size * 3);
    height: calc($base-size * 3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__vege {
    background-color: var(--colorVege);
    box-shadow: 0 0 5px 10px var(--colorVege);
  }

  &__fruit {
    background-color: var(--colorFruit);
    box-shadow: 0 0 5px 10px var(--colorFruit);

  }

  &__task {
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $base-size;
    color: $color-dark;
    padding: $base-size;
    border: 1px solid magenta;
  }

  &__cart {
    min-width: min-content;
    min-height: calc($base-size * 5);
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    gap: $base-size;
    overflow: scroll;
  }

  &__cartProduct {
    min-width: fit-content;
    max-width: 90%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: $base-size;
    border: 1px solid blue;

    p {
      padding: 0;
      color: $color-dark;
      font-size: $font-content;
    }
  }

  &__delete {
    width: min-content;
    height: min-content;
    background-color: transparent;
    border: none;
    color: $color-warning;
    cursor: pointer;
  }

  &__assortment {
    padding-right: 12%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 10vw, 1fr));
    gap: $base-size;
    grid-column: 1 / span 2;
  }

}

@media (max-width: 568px) {
  .grocery {
    &__board {
      display: flex;
      flex-direction: column;
    }
    &__task {
      font-size: $font-content;
    }

    &__color {
      width: 2vw;
      height: 2vw;
    }

    &__cartProduct {
      
    }
  }
}

@media (max-width: 780px) and (orientation: landscape) {
  
}
