@import '/src/styles/settings.scss';

:root {
  --colorVege: black;
  --colorFruit: black;
}

.grocery {
  display: flex;
  flex-direction: column;

  &__board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__shop {
    width: 90%;
    padding: $base-size;
    display: grid;
    grid-template-columns: repeat(auto-fit) 1fr;
    grid-template-rows: auto;
    gap: $base-size;
  }

  &__shopElement {
    display: flex;
    flex-wrap: wrap;
    gap: $base-size;
    padding: $base-size;
    border-radius: $radius;
    border: 3px solid $color-yellow;
    transition: $transition;
    color: $color-success;
    background-color: $color-light;
  }

  &__list {
    flex-direction: column;
    width: calc($base-size * 30);
  }

  &__color {
    width: calc($base-size * 3);
    height: calc($base-size * 3);
    border-radius: 50%;
  }

  &__vege {
    background-color: var(--colorVege);
  }

  &__fruit {
    background-color: var(--colorFruit);
  }

  &__task {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    color: $color-dark;
    padding: 5px;
  }

  &__cart {
    align-items: flex-start;
  }

  &__assortment {
    grid-column: 1 / span 2;
  }

}
